

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Tela de carregamento ===== */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
    font-family: var(--font-family);
    z-index: 9999;
}

.loader {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.icon {
    font-size: 60px;
    animation: spin 2s linear infinite;
    display: block;
    margin-bottom: var(--spacing-medium);
}

#loading-screen p {
    font-size: 18px;
    margin-top: var(--spacing-small);
}

/* Animações */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ===== Login ===== */
body {
    font-family: var(--font-family);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--spacing-medium);
}

.login-box {
    background: var(--color-white);
    padding: var(--spacing-large);
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: var(--spacing-medium);
    color: var(--color-primary);
}

.input-group {
    margin-bottom: var(--spacing-medium);
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-gray-dark);
}

input {
    width: 100%;
    padding: var(--spacing-small);
    border: 1px solid var(--color-gray-light);
    border-radius: 5px;
    font-size: 16px;
}
.linkCadastro{
    font-size: 16px;
    color: var(--color-gray-dark); 
    margin-bottom: 30px;
}
.linkCadastro a{
    text-decoration: none;
}
button {
    width: 100%;
    padding: var(--spacing-small);
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: var(--color-primary-dark);
}

#message {
    margin-top: var(--spacing-small);
    font-size: 14px;
}

/* ===== Responsividade ===== */
@media (max-width: 600px) {
    body {
        background: var(--color-white);
    }

    .login-box {

        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
    }

    .icon-Login {
        font-size: 80px;
    }

    input,
    button {
        font-size: 16px;
    }
}